<template>
    <div class="grey darken-1 empty-layout">
        <router-view />
    </div>
</template>

<script>
    import messages from '@/utils/messages'

    export default {
        watch: {
            error(fbError) {
                this.$error(messages[fbError.code] || 'Что-то пошло не так')
            }
        },
        computed: {
            error() {
                return this.$store.getters.error
            }
        }
    }
</script>

<style scoped>

</style>
